form {
  border: 2px solid black;
  padding: 10px;
  width: 50%;
  margin: 5% 25% 0 25%;
  align-items: center;
}
h2 {
  text-align: center;
}
#field_label {
  font-weight: bold;
}
.submit_button {
  background-color: black;
  border: 1px solid black;
  color: white;
  padding: 10px;
  align-items: center;
  width: 20%;
}
